spring:
  profiles:
    active:
    - dev
    
    
---
#开发环境
server:
  port: 8001

mybatis: 
  config-location: classpath:mybatis/mybatis.cfg.xml                # mybatis主配置文件所在路径
  type-aliases-package: org.hut.pojo                                # 所有Entity别名类所在包
  mapper-locations:
  - classpath:mybatis/mapper/**/*.xml                               # mapper映射文件
  
spring: 
  profiles: dev
  application:
    name: provider-dept-client-config
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource                    # 当前数据源操作类型
    # demo dev环境为一号库
    url: jdbc:mysql://localhost:3306/clouddb01
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001:7001/eureka
  instance:
    instance-id: dept_8001
    prefer-ip-address: true

---
#测试环境
server:
  port: 8001

mybatis: 
  config-location: classpath:mybatis/mybatis.cfg.xml                # mybatis主配置文件所在路径
  type-aliases-package: org.hut.pojo                                # 所有Entity别名类所在包
  mapper-locations:
  - classpath:mybatis/mapper/**/*.xml                               # mapper映射文件
  
spring: 
  profiles: dev
  application:
    name: provider-dept-client-config
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource                    # 当前数据源操作类型
    # demo dev环境为二号库
    url: jdbc:mysql://localhost:3306/clouddb02
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001:7001/eureka
  instance:
    instance-id: dept_8001
    prefer-ip-address: true